{% extends 'base.html.twig' %}

{% block body %}
    <div  class="card container mt-3 text-dark bg-light mb-5" style="max-width: 60rem; ">
        <div class="card-header">
            <h1>Blog creation</h1>
        </div>
        <div class="card-body">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input type="submit"  type="button"   class="btn btn-success me-md-2" value="Create" />
            </div>
        {{ form_end(form) }}
            <a href="{{ path('blog_index') }}"  type="button"   class="btn btn-primary me-md-2">Back to the list</a>
        </div>
    </div>
{% endblock %}

